{{$current_version := .ResourceValue.GetVersionName}}
{{$current_live_version := (current_live_version .ResourceValue .Context)}}
{{if $current_live_version}}
  <span class="qor-publish2__live">
    {{if eq $current_version $current_live_version}}
      <span class="qor-symbol qor-symbol-blue"></span>
    {{else}}
      <span class="qor-symbol qor-symbol-yellow"></span>
    {{end}}
  </span>
{{end}}

{{if (gt (get_versions_count .ResourceValue .Context) 1)}}
  <span class="qor-publish2__button">
    <a href="{{join_url (url_for .ResourceValue) "versions"}}" class="qor-publish2__version" title="{{t "qor_admin.publish.button.versions" "VERSIONS"}}" data-version-url="{{join_url (url_for .ResourceValue) "versions"}}">
      <span>{{t "qor_admin.publish.button.versions" "VERSIONS"}}</span>
      <i class="material-icons">update</i>
    </a>
  </span>
{{else}}
  <span class="qor-publish2__button">
    <i class="material-icons"></i>
  </span>
{{end}}
