{{$current_version := .ResourceValue.GetVersionName}}
{{$current_live_version := (current_live_version .ResourceValue .Context)}}
{{if $current_live_version}}
  {{if eq $current_version $current_live_version}}
    current version is live
  {{else}}
    another version is live
  {{end}}
{{end}}

{{if (gt (get_versions_count .ResourceValue .Context) 1)}}
  <a href="{{join_url (url_for .ResourceValue) "versions"}}" class="qor-publish2__version" data-version-url="{{join_url (url_for .ResourceValue) "versions"}}">
    <i class="material-icons">update</i>
  </a>
{{else}}
  <i class="material-icons"></i>
{{end}}
