{{$version_metas := version_metas}}
<table class="mdl-data-table mdl-js-data-table qor-table__version">
  <thead>
    {{range $meta := $version_metas}}
      <th class="mdl-data-table__cell--non-numeric">{{meta_label $meta}}</th>
    {{end}}
    <th class="mdl-data-table__cell--non-numeric qor-table__actions"></th>
  </thead>
  <tbody>
    {{range $result := .Result}}
      <tr>
        {{range $meta := $version_metas}}
          <td class="mdl-data-table__cell--non-numeric">{{render_meta $result $meta}}</td>
        {{end}}
        <td class="mdl-data-table__cell--non-numeric qor-table__actions">
          <button id="actions-for-{{$result.GetVersionName}}" class="mdl-button mdl-js-button mdl-button--icon qor-button--actions">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu" for="actions-for-{{$result.GetVersionName}}">
            <li class="mdl-menu__item" qor-icon-name="Delete">
              <a href="#" target="_blank">
                Delete
              </a>
            </li>
          </ul>
        </td>
      </tr>
    {{end}}
  </tbody>
</table>
