<div class="qor-form-container">
  <div class="qor-form-section-rows qor-section-columns-2 clearfix">
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label" for="a">
          Version Name
        </label>

        <div class="qor-field__show"></div>

        <div class="qor-field__edit">
          <input class="mdl-textfield__input" type="text" id="" name="" value="">
        </div>
      </div>
    </div>
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label" for="">
          Publish Ready
        </label>

        <div class="qor-field__show">
        </div>

        <div class="qor-field__edit">
          <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
            <input type="checkbox" id="switch-1" class="mdl-switch__input" checked>
            <span class="mdl-switch__label"></span>
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="qor-form-section-rows qor-section-columns-2 clearfix">
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label" for="">
          Start
        </label>

        <div class="qor-field__show"></div>

        <div class="qor-field__edit qor-field__datetimepicker">
          <input class="mdl-textfield__input qor-datetimepicker__input" placeholder="YYYY-MM-DD HH:MM" type="text" id="" name="" value="">

          <div>
            <button data-toggle="qor.datepicker" data-target-input=".qor-datetimepicker__input" class="mdl-button mdl-js-button mdl-button--icon qor-action__datepicker" type="button">
              <i class="material-icons">date_range</i>
            </button>

            <button data-toggle="qor.timepicker" data-target-input=".qor-datetimepicker__input" class="mdl-button mdl-js-button mdl-button--icon qor-action__timepicker" type="button">
              <i class="material-icons">access_time</i>
            </button>
          </div>

        </div>
      </div>
    </div>
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label" for="">
          End
        </label>

        <div class="qor-field__show">
        </div>

        <div class="qor-field__edit qor-field__datetimepicker">
          <input class="mdl-textfield__input qor-datetimepicker__input" placeholder="YYYY-MM-DD HH:MM" type="number" step="any" id="" name="" value="">
          <div>
            <button data-toggle="qor.datepicker" data-target-input=".qor-datetimepicker__input" class="mdl-button mdl-js-button mdl-button--icon qor-action__datepicker" type="button">
              <i class="material-icons">date_range</i>
            </button>

            <button data-toggle="qor.timepicker" data-target-input=".qor-datetimepicker__input" class="mdl-button mdl-js-button mdl-button--icon qor-action__timepicker" type="button">
              <i class="material-icons">access_time</i>
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="qor-form-section-rows qor-section-columns-2 clearfix">
    <div class="qor-field">
      <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield">
        <label class="qor-field__label mdl-textfield__label" for="a">
          For Event
        </label>

        <div class="qor-field__show"></div>

        <div class="qor-field__edit">
          Select one template
        </div>
      </div>
    </div>
  </div>

</div>